* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  direction: rtl;
}

@font-face {
  font-family: ir_bold;
  src: url(/fonts/IRANSansX-Bold.woff2);
}
@font-face {
  font-family: ir_medium;
  src: url(/fonts/IRANSansX-Medium.woff2);
}
@font-face {
  font-family: ir_light;
  src: url(/fonts/IRANSansX-Light.woff2);
}
@font-face {
  font-family: ir_thin;
  src: url(/fonts/IRANSansX-Thin.woff2);
}
body {
  font-family: ir_light;
}
body nav {
  position: fixed;
  background-color: #f8f8f8;
  height: 10vh;
  display: flex;
  justify-content: none;
  align-items: none;
  width: 100%;
  z-index: 2;
}
body nav .logo {
  display: flex;
  justify-content: none;
  align-items: none;
  width: 40%;
  padding: 0 170px;
}
body nav .logo a {
  display: flex;
  justify-content: none;
  align-items: center;
  width: none;
  color: #000000;
  font-family: ir_bold;
  font-size: 25px;
}
body nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38%;
}
body nav ul a {
  font-size: 16px;
  color: #545454;
}
body nav .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
body nav .button a {
  width: 158px;
  position: none;
  background-color: #ff5722;
  height: 49px;
  text-align: center;
  padding-top: 13px;
  color: #fff;
  border-radius: 5px;
}
body header {
  position: relative;
  background-color: none;
  height: 100vh;
  display: flex;
  justify-content: none;
  align-items: none;
  width: 100%;
}
body header .hero {
  display: flex;
  justify-content: flex-end;
  align-items: none;
  width: 100%;
}
body header .hero img {
  width: 100%;
  height: 88vh;
}
body header .hero .phone {
  display: flex;
  justify-content: none;
  align-items: none;
  width: 28vw;
  position: absolute;
  background-color: none;
  height: 93vh;
  left: 10vw;
  top: 30vh;
}
body main {
  position: relative;
  display: flex;
  justify-content: none;
  align-items: center;
  width: none;
}
body main .option-box {
  padding: 40px 50px;
  position: absolute;
  background-color: rgba(16, 28, 68, 0.404);
  height: 65vh;
  right: 150px;
  display: flex;
  justify-content: none;
  align-items: none;
  width: 40%;
  border-radius: 20px;
}
body main .option-box .textbox {
  display: flex;
  justify-content: space-between;
  align-items: none;
  width: 100%;
  height: 100px;
  flex-direction: column;
}
body main .option-box .textbox h2 {
  font-size: 50px;
  color: #fff;
  font-family: ir_bold;
}
body main .option-box .textbox p {
  font-size: 30px;
  color: #fff;
}
body main .option-box .button-box {
  position: absolute;
  background-color: none;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 85%;
  flex-wrap: wrap;
}
body main .option-box .button-box .box {
  height: 25vh;
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  width: none;
  flex-wrap: wrap;
}
body main .option-box .button-box .box .white-button {
  background-color: #fff;
  color: black;
  border: none;
}
body main .option-box .button-box .box a {
  position: none;
  background-color: transparent;
  height: 60px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 13px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  text-align: center;
}
body main .option-box .bottom-button {
  position: absolute;
  background-color: none;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
}
body main .option-box .bottom-button a {
  height: 50px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 13px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
